.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #239ba0;
    height: 100vh;
}

.btn-login {
    background-color: #ffffff;
    color: #239ba0;
}

.btn-login:hover {
    background-color: #d2b214;
    color: #ffffff;
    transition: .3s ease-in;
}

.opcoes-login a {
    text-decoration: none;
    color: #ffffff;
}

.opcoes-login a:hover, .spinner-login {
    color: #d2b214;
    transition: .3s ease-in;
}

.form-signin {
    width: 650px;;
}